.user-email {
  font-size: 0.75rem;
}

/* While fetching this style will be applied */
.user-email[data-loading="true"] {
  width: 5rem;
  height: 0.75rem;
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .user-email {
    font-size: 1rem;
  }

  .user-email[data-loading="true"] {
    width: 10rem;
    height: 1rem;
  }
}
